@model ZooApp.Models.Enclosure

@{
    ViewData["Title"] = "Verblijfsdetails";
}

<h1>Details van verblijf</h1>

<div>
    <h4>Verblijf</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Climate)
        </dt>
        <dd class="col-sm-9">
            @Model.Climate
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.HabitatType)
        </dt>
        <dd class="col-sm-9">
            @Model.HabitatType
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SecurityLevel)
        </dt>
        <dd class="col-sm-9">
            @Model.SecurityLevel
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-9">
            @(Model.Size.ToString("0.##") + " m²")
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Bewerken</a>
    <a asp-action="Index" class="btn btn-secondary ms-2">Terug naar lijst</a>
</div>
