@model IEnumerable<ZooApp.Models.Category>

@{
    ViewData["Title"] = "Categorieën";
}

<h1>Categorieën</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Nieuwe categorie</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th style="width: 200px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Bewerken</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
